body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background: linear-gradient(to top, #8c62db, #0f0126);
    color: #333;
  }
  
  .container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 50px;
    flex-wrap: wrap;
  }
  
  .card {
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 300px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
  }
  
  .card .icon {
    font-size: 50px;
    margin-bottom: 15px;
  }
  
  .card h3 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #555;
  }
  
  .card p {
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2px;
    font-family: "Roboto";
    color:  rgb(198, 168, 240);
    cursor: default;
  }

  .card {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }