body {
    margin: 0;
}

header {
    height: 95px;
    background-color:  rgb(181, 130, 252);
    border-bottom: 3px solid rgb(0, 0, 0);
}

header .logo {
    font-size: 50px;
    color:  rgb(222, 210, 236);
    font-family: "Mulish";
    font-weight: bold;
    text-decoration:  none;
    transition: 0.3s, ease-in-out;
    transition-property: color;
}

header .logo:hover {
    color: rgb(161, 255, 244);
    
}

header .container  {
    height: 100%;
    margin: 0 auto;
    padding: 0 125px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .navbar a {
    color:  rgb(222, 210, 236);
    font-size: 20px;
    transition: 0.3s, ease-in-out;
    transition-property: color;
    text-decoration:  none;
    font-family: "Playwrite";
}

header .navbar a:hover {
    color: rgb(198, 168, 240);
}

header .navbar{
    display: flex;
    justify-content:space-between ; 
    align-items: center;
    gap: 20px ;  
}

header .navbar img {
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

