body{
    background-color: #0c0126;
}
.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    justify-content: center;   /* Centraliza horizontalmente */
    align-items: center;       /* Centraliza verticalmente */
    flex-direction: column;    /* Coloca o conteúdo em coluna, se necessário */
   
}
.card-principal {
	width: 500px;
	height: 200px;
	background-color:  rgb(198, 168, 240);
	border-radius: 25px;
	border: solid 2px rgb(25, 10, 107);
	margin: 20px ;
	padding: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

}

.imagem {
width: 70px;
height: 70px;
margin-top: 10px;
margin-bottom: 20px;
border-radius: 50% ;
}


h1 {
font-family: "Mulish";
font-size: 20px;
}

.mensagens { 
    letter-spacing: 1px;
    font-family: "Roboto";
	font-size: 15px;
}


button {
    height: 40px;
    width: 130px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    background: #0c0126;
    margin: 10px;
   justify-content: center;
    letter-spacing: 2px;
    font-family: "Mulish";
    color: rgb(222, 210, 236);
    border: 3px solid rgb(25, 10, 107);
    transition:  transform 0.3s ease-in-out;

}


button:hover{
transform: scale(1.1);

}
 input {
    height: 25px;
    width: 80%;
    border-radius: 10px;
    border: 2px solid rgb(25, 10, 107);
    text-align: center;
    transition: 0.3s, ease-in-out;
    transition-property: color;
    

}
 input:hover{
  border: 2px solid  rgb(222, 210, 236);

}
input:focus {
    outline: none;
}

	