body {
    margin: 0;
}

header {
    height: 95px;
    background: linear-gradient(to bottom, #8c62db, #0f0126); 
    border-bottom: 3px solid rgb(17, 17, 65);
}

header .logo {
    font-size: 50px;
    color:  rgb(222, 210, 236);
    font-family: "Mulish";
    font-weight: bold;
    text-decoration:  none;
    transition: 0.3s, ease-in-out;
    transition-property: color;
}

header .logo:hover {
    color: rgb(25, 10, 107);
    
}

header .container  {
    height: 100%;
    margin: 0 auto;
    padding: 0 125px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .navbar a {
    color:  rgb(222, 210, 236);
    font-size: 20px;
    transition: 0.3s, ease-in-out;
    transition-property: color;
    text-decoration:  none;
    font-family: "Roboto";
}

header .navbar a:hover {
    color: rgb(25, 10, 107);
}

header .navbar{
    display: flex;
    justify-content:space-between ; 
    align-items: center;
    gap: 20px ;  
}

header .navbar img {
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

