* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}


.card {
  display: flex;
  height: 100vh;
}


.area {
  width: 50%;
  height: 100%;
  position: relative;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.login {
  width: 50%;
  padding: 30px;
  background: linear-gradient(to bottom, #8c62db, #0f0126);
  color: #ddd;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  z-index: 1;
}


/* #010826 
  #0c0126*/
.login h2 {
  justify-content: center;
  align-items: center;
  display: flex;
  color: rgb(222, 210, 236);
  font-size: 40px;
  letter-spacing: 2px;
  font-family: "Mulish";
}

.input:focus {
  outline: none;
}

.campo input {
  height: 25px;
  width: 400px;
  border-radius: 10px;
  border: 2px solid rgb(25, 10, 107);
  text-align: center;
  transition: 0.3s, ease-in-out;
  transition-property: color;
  cursor: pointer;
}

div.campo input:hover {
  border: 2px solid rgb(222, 210, 236);
}

#input_senha {
  margin-left: 30%;
}

.campo span {
  margin: 0;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: bold;
  font-family: "Roboto";
  color: rgb(222, 210, 236);
}

button {
  height: 50px;
  width: 150px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;
  background: #0c0126;
  margin: 10px;
  letter-spacing: 2px;
  font-family: "Mulish";
  color: rgb(222, 210, 236);
  border: 3px solid rgb(25, 10, 107);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

button:hover {
  transform: scale(1.1);

}

.login a {
  outline: none;
}

.login a {
  color: rgb(222, 210, 236);
  font-size: 20px;
  transition: 0.3s, ease-in-out;
  transition-property: text-decoration;
  cursor: pointer;
font-family: 'Roboto';
}

.login a:hover {
  text-decoration: none;
}

.mostrarSenha {
  display: flex;
  align-items: center;
  justify-content: center;
}

.olhoSenha {
  width: 25px;
  height: 25px;
  margin-top: 12px;
  cursor: pointer;
  border-radius: 50%;
  background-color: beige;
  padding: 5px;


}

.campo1{
  display: flex; 
  flex-direction: column;

}